/* Header */
.main{
    background-image: url('../images/Rectangle1.jpg');
    max-width: 1440px;
    width: 100%;
    height: 754px;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    position: relative;
}
.ul-item{
    max-width: 366px;
    width: 100%;
    height: 20px;
    display: flex;
    column-gap: 40px;
    /* justify-content: space-between; */
}
.login{
    width: 78px;
    height: 40px;
    color: white;
    background-color: #F84646;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top{
    max-width: 1104px;
    width: 76.6%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lorem{
    max-width: 665px;
    width: 100%;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 200px;
    left: 102px;
    padding: 20px;
}
.lorem p{
    text-align: left;
}
.fa-solid.fa-bars{
    display: none;
    font-size: 32px;
}

/* 1ST Section */
.container{
    max-width: 712px;
}
.long{
    max-width: 1153px; 
    width: 80%;
    margin: 120px auto 100px auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
}
.box{
    width: 298px;
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wraper{
    display: flex;
    margin: 0 auto 174px auto;
    max-width:1153px;
    width: 80%;
    column-gap: 107px;
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 91px;

}
.div01{
    display: flex;
    column-gap: 116px;
}
.div02{
    display: flex;
    column-gap: 116px;
}
.div03{
    display: flex;
    flex-direction: column;
    row-gap: 91px;
}
.star-circle{
    width: 45px;
    height: 45px;
    background-color: #7553FF;
    border-radius: 50%;
    position: relative;
}
.star{
    position: absolute;
    top: -7px;
    left: 5px;
} 
.crown-circle{
    width: 45px;
    height: 45px;
    background-color: #53C1FF;
    border-radius: 50%;
    position: relative;

}
.crown-circle img{
    position: absolute;
    right: 14px;
    top: -7px;
}

/* 2ND Section */
.wraper2{
    max-width: 1197px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
}
.upper-div{
    display: flex;
    justify-content: space-between;
}
.text-div{
    max-width: 523px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.add-div{
    width: 160px;
    height: 48px;
    background-color: #F84646;
    color: white;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-radius: 8px;
}